<a href="https://colab.research.google.com/github/himanshu120400/ChatApp/blob/master/Heart_Diagnostics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#importing csv data and view data
data = pd.read_csv("/content/heart_disease.csv.txt")
data

     Age  Sex     ChestPain  RestBP  Chol  ...  Oldpeak  Slope   Ca        Thal  AHD
1     63    1       typical     145   233  ...      2.3      3  0.0       fixed   No
2     67    1  asymptomatic     160   286  ...      1.5      2  3.0      normal  Yes
3     67    1  asymptomatic     120   229  ...      2.6      2  2.0  reversable  Yes
4     37    1    nonanginal     130   250  ...      3.5      3  0.0      normal   No
5     41    0    nontypical     130   204  ...      1.4      1  0.0      normal   No
..   ...  ...           ...     ...   ...  ...      ...    ...  ...         ...  ...
299   45    1       typical     110   264  ...      1.2      2  0.0  reversable  Yes
300   68    1  asymptomatic     144   193  ...      3.4      2  2.0  reversable  Yes
301   57    1  asymptomatic     130   131  ...      1.2      2  1.0  reversable  Yes
302   57    0    nontypical     130   236  ...      0.0      2  1.0      normal  Yes
303   38    1    nonanginal     138   175  ...      0.0      1  NaN      normal   No

[303 rows x 14 columns]

In [ ]:
print("(Rows, columns): " + str(data.shape))
data.columns

(Rows, columns): (303, 14)

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [ ]:
data.head()

   Age  Sex     ChestPain  RestBP  Chol  ...  Oldpeak  Slope   Ca        Thal  AHD
1   63    1       typical     145   233  ...      2.3      3  0.0       fixed   No
2   67    1  asymptomatic     160   286  ...      1.5      2  3.0      normal  Yes
3   67    1  asymptomatic     120   229  ...      2.6      2  2.0  reversable  Yes
4   37    1    nonanginal     130   250  ...      3.5      3  0.0      normal   No
5   41    0    nontypical     130   204  ...      1.4      1  0.0      normal   No

[5 rows x 14 columns]

#Changing datatypes

In [ ]:
# coverting the string data of chestpain into int data
ChestPain = {'typical': 0,'nontypical': 1,'asymptomatic':2,'nonanginal':3}
data.ChestPain = [ChestPain[item] for item in data.ChestPain]

In [ ]:
data.head()

   Age  Sex  ChestPain  RestBP  Chol  ...  Oldpeak  Slope   Ca        Thal  AHD
1   63    1          0     145   233  ...      2.3      3  0.0       fixed   No
2   67    1          2     160   286  ...      1.5      2  3.0      normal  Yes
3   67    1          2     120   229  ...      2.6      2  2.0  reversable  Yes
4   37    1          3     130   250  ...      3.5      3  0.0      normal   No
5   41    0          1     130   204  ...      1.4      1  0.0      normal   No

[5 rows x 14 columns]

In [ ]:
# droping
data=data. dropna()
data.isna().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           0
Thal         0
AHD          0
dtype: int64

In [ ]:
# converting the string data of thal into int data
Thal = {'fixed': 0,'normal': 1,'reversable':2}
data.Thal = [Thal[item] for item in data.Thal]

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
data.head()

   Age  Sex  ChestPain  RestBP  Chol  ...  Oldpeak  Slope   Ca  Thal  AHD
1   63    1          0     145   233  ...      2.3      3  0.0     0   No
2   67    1          2     160   286  ...      1.5      2  3.0     1  Yes
3   67    1          2     120   229  ...      2.6      2  2.0     2  Yes
4   37    1          3     130   250  ...      3.5      3  0.0     1   No
5   41    0          1     130   204  ...      1.4      1  0.0     1   No

[5 rows x 14 columns]

In [ ]:
# returns the number of unique values for each variable.
data.nunique(axis=0)

Age           41
Sex            2
ChestPain      4
RestBP        50
Chol         152
Fbs            2
RestECG        3
MaxHR         91
ExAng          2
Oldpeak       40
Slope          3
Ca             4
Thal           3
AHD            2
dtype: int64

In [ ]:
#checking the concise summary of data
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 1 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        297 non-null    int64
 1   Sex        297 non-null    int64
 2   ChestPain  297 non-null    int64
 3   RestBP     297 non-null    int64
 4   Chol       297 non-null    int64
 5   Fbs        297 non-null    int64
 6   RestECG    297 non-null    int64
 7   MaxHR      297 non-null    int64
 8   ExAng      297 non-null    int64
 9   Oldpeak    297 non-null    float64
 10  Slope      297 non-null    int64
 11  Ca         297 non-null    float64
 12  Thal       297 non-null    int64
 13  AHD        297 non-null    object
dtypes: float64(2), int64(11), object(1)
memory usage: 34.8+ KB

In [ ]:
#checking the first 5 rows
data.head()

   Age  Sex  ChestPain  RestBP  Chol  ...  Oldpeak  Slope   Ca  Thal  AHD
1   63    1          0     145   233  ...      2.3      3  0.0     0   No
2   67    1          2     160   286  ...      1.5      2  3.0     1  Yes
3   67    1          2     120   229  ...      2.6      2  2.0     2  Yes
4   37    1          3     130   250  ...      3.5      3  0.0     1   No
5   41    0          1     130   204  ...      1.4      1  0.0     1   No

[5 rows x 14 columns]

In [ ]:
#checking the last 5 rows
data.tail()

     Age  Sex  ChestPain  RestBP  Chol  ...  Oldpeak  Slope   Ca  Thal  AHD
298   57    0          2     140   241  ...      0.2      2  0.0     2  Yes
299   45    1          0     110   264  ...      1.2      2  0.0     2  Yes
300   68    1          2     144   193  ...      3.4      2  2.0     2  Yes
301   57    1          2     130   131  ...      1.2      2  1.0     2  Yes
302   57    0          1     130   236  ...      0.0      2  1.0     1  Yes

[5 rows x 14 columns]

In [ ]:
# number of rows and columns in the dataset
data.shape

(297, 14)

In [ ]:
# checking for missing values
data.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           0
Thal         0
AHD          0
dtype: int64

In [ ]:
# statistical measures about the data
data.describe()

              Age         Sex   ChestPain  ...       Slope          Ca        Thal
count  297.000000  297.000000  297.000000  ...  297.000000  297.000000  297.000000
mean    54.542088    0.676768    1.959596  ...    1.602694    0.676768    1.326599
std      9.049736    0.468500    0.868976  ...    0.618187    0.938965    0.585061
min     29.000000    0.000000    0.000000  ...    1.000000    0.000000    0.000000
25%     48.000000    0.000000    2.000000  ...    1.000000    0.000000    1.000000
50%     56.000000    1.000000    2.000000  ...    2.000000    0.000000    1.000000
75%     61.000000    1.000000    3.000000  ...    2.000000    1.000000    2.000000
max     77.000000    1.000000    3.000000  ...    3.000000    3.000000    2.000000

[8 rows x 13 columns]

#Counting the AHD value and plotting the graph for number of pateints having heart disease

In [ ]:
# checking the distribution of AHD Variable
data['AHD'].value_counts()

No     160
Yes    137
Name: AHD, dtype: int64

In [ ]:
# plotting 
data.AHD.value_counts().plot(kind="bar", color=["salmon", "lightblue"])

In [ ]:
categorical_val = []
continous_val = []
for column in data.columns:
    print('==============================')
    print(f"{column} : {data[column].unique()}")
    if len(data[column].unique()) <= 10:
        categorical_val.append(column)
    else:
        continous_val.append(column)

In [ ]:
plt.figure(figsize=(15,10))

for i, column in enumerate(continous_val, 1):
    plt.subplot(3, 2, i)
    data[data["AHD"] == 'No'][column].hist(bins=35, color='blue', label='Have Heart Disease = NO', alpha=0.6)
    data[data["AHD"] == 'Yes'][column].hist(bins=35, color='red', label='Have Heart Disease = YES', alpha=0.6)
    plt.legend()
    plt.xlabel(column)

#Prepare Data for Modeling

In [ ]:
X = data.drop(columns='AHD', axis=1)
Y = data['AHD']

In [ ]:
print(X)

     Age  Sex  ChestPain  RestBP  Chol  ...  ExAng  Oldpeak  Slope   Ca  Thal
1     63    1          0     145   233  ...      0      2.3      3  0.0     0
2     67    1          2     160   286  ...      1      1.5      2  3.0     1
3     67    1          2     120   229  ...      1      2.6      2  2.0     2
4     37    1          3     130   250  ...      0      3.5      3  0.0     1
5     41    0          1     130   204  ...      0      1.4      1  0.0     1
..   ...  ...        ...     ...   ...  ...    ...      ...    ...  ...   ...
298   57    0          2     140   241  ...      1      0.2      2  0.0     2
299   45    1          0     110   264  ...      0      1.2      2  0.0     2
300   68    1          2     144   193  ...      0      3.4      2  2.0     2
301   57    1          2     130   131  ...      1      1.2      2  1.0     2
302   57    0          1     130   236  ...      0      0.0      2  1.0     1

[297 rows x 13 columns]

In [ ]:
print(Y)

1       No
2      Yes
3      Yes
4       No
5       No
      ...
298    Yes
299    Yes
300    Yes
301    Yes
302    Yes
Name: AHD, Length: 297, dtype: object

#Training and Testing the data

In [ ]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 1)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(297, 13) (237, 13) (60, 13)

In [ ]:
model = LogisticRegression()

In [ ]:
# training the LogisticRegression model with Training data
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.8396624472573839

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, y_test)

In [ ]:
print('Accuracy on Testing data : ', test_data_accuracy)

Accuracy on Testing data :  0.7666666666666667

In [ ]:
test_score = accuracy_score(y_test, lr_clf.predict(X_test)) * 100
train_score = accuracy_score(y_train, lr_clf.predict(X_train)) * 100

results_df = pd.DataFrame(data=[["Logistic Regression", train_score, test_score]], 
                          columns=['Model', 'Training Accuracy %', 'Testing Accuracy %'])
results_df

                 Model  Training Accuracy %  Testing Accuracy %
0  Logistic Regression            83.544304           76.666667

#SVM

In [ ]:
from sklearn.svm import SVC
svc = SVC(kernel = 'linear')
svc.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
#getting confusion matrix
from sklearn.metrics import confusion_matrix,classification_report
y_pred = svc.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
print('confusion matrix:\n',cm)

confusion matrix:
 [[22  8]
 [ 5 25]]

In [ ]:
#checking accuracy
from sklearn.metrics import accuracy_score
sva =accuracy_score(y_test,y_pred)
print('accuracy score = ',accuracy_score(y_test,y_pred))
print("Classification Report",classification_report(y_test,y_pred))

accuracy score =  0.7833333333333333
Classification Report               precision    recall  f1-score   support

          No       0.81      0.73      0.77        30
         Yes       0.76      0.83      0.79        30

    accuracy                           0.78        60
   macro avg       0.79      0.78      0.78        60
weighted avg       0.79      0.78      0.78        60